@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

html, body {
  margin: 0;
  padding: 0;

  --color-white: rgba(255, 255, 255, 0.87);
  --accent-color: #d6c6b2;
  background-color: #21272B
}


.App {
  text-align: center;
  background-color: #21272B;
  color: var(--color-white);
  font-family: 'Open Sans', sans-serif;
}
